<div class="container-fluid mb-5">
  <form [formGroup]="featureForm" (ngSubmit)="onSubmit()">
  <h1 class="display-3">Add Feature</h1>
  <hr>

  <!-- {{featureForm.value| json}} -->
  <h6 class="text-danger">{{errorMsg}}</h6>
  <div class="form-group">
      <label for="title">Feature Title</label>
    <input type="text" class="form-control" formControlName="fTitle"
    placeholder="Feature Title" name="fTitle" id="title">
  </div>
  <div class="form-group">
      <label for="description">Description</label>
    <input type="text" class="form-control" placeholder="Description" formControlName="fDescription"
    name="fDescription" id="description">
  </div>
  <div formGroupName="fClient">
      <div class="form-group">
        <label for="client">Client</label>
        <input type="text" id="client" class="form-control" formControlName="clientName"
        placeholder="client" name="fClient">
    </div>
  </div>

  <div class="form-group">
    <label for="clientPriority">Client Priority</label>
    <input type="text" class="form-control" placeholder="clientPriority" formControlName="fClientPriority"
    name="fClientPriority" id="clientPriority">
  </div>
  <div class="form-group">
    <label for="targetDate">Target Date</label>
    <input type="date" class="form-control" formControlName="fTargetDate"
     placeholder="Target Date" id="targetDate" name="fTargetDate">
  </div>
  <div class="form-group">
    <label for="productArea">Product Area</label>
    <select class="form-control" name="fProductArea"
    formControlName="fProductArea">
      <option selected disabled>Select Product Area</option>
      <option value="POLICIES">Policies</option>
      <option value="BILLING">Billing</option>
      <option value="CLAIMS">Claims</option>
      <option value="REPORTS">Reports</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

