form{
  margin: auto;
  padding: 10px;
  width: 30%;
}

.heading{
  width: 60%;
  margin: auto;
  font-size: 48px;
  text-align: center;
}
.display-3{

  font-size: 48px;
  padding-bottom: 3%;
  background: -webkit-linear-gradient(#fff, rgb(133, 58, 58));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.table{
  width: 80%;
  margin: auto;
  margin-top: 4%;
}
