form{
  margin: auto;
  padding: 10px;
  width: 70%;
}

.display-3{
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(255, 255, 255), rgb(0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  width: 100%;
  text-align: center;
}

.table{
  width: 80%;
  margin: auto;
  margin-top: 4%;
}
