.introduction{
  float: none;
  padding-top: 10%;
  width: 40%;
  text-align: center;
  color: steelblue;
  margin: auto;
}
h4{
  font-size: 24px ;
}
h3
{
  width: 100%;
  margin-top: 20%;
}
.active{
  background-color: steelblue;
}
