<div class="introduction">
  <h4>Welcome to WCF Java Web Developer Project</h4>

  <ul class="list-group project-intro">
    <li class="list-group-item active"><strong>Tools used for ForntEnd</strong></li>
    <li class="list-group-item">Angular</li>
    <li class="list-group-item">BootStrap</li>
  </ul>
  <hr>
  <ul class="list-group project-intro">
    <li class="list-group-item active"><strong>Tools used for BackEnd</strong></li>
    <li class="list-group-item">Java</li>
    <li class="list-group-item">Spring</li>
    <li class="list-group-item">JPA & Hibernate</li>
    <li class="list-group-item">MySql Database</li>
    <li class="list-group-item">Maven</li>
    <li class="list-group-item">Swagger(Documentation) <br> http://localhost:8080/swagger-ui.html </li>
  </ul>
  <hr>
  <ul class="list-group project-intro">
    <li class="list-group-item active"><strong>Ports</strong></li>
    <li class="list-group-item">BackEnd : localhost:8080</li>
    <li class="list-group-item">FrontEnd : localhost:4200</li>
  </ul>
  <h3>Made By Satnam Singh</h3>
</div>
